* {
  margin: 0;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(220, 15%, 55%);
  font-size: 62.5%;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  @media only screen and (max-width: 640px) {
    max-width: 90%;
  }

  max-width: 20rem;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;

  background-color: white;
}

.card-img {
  margin: 0 auto;
  border-radius: 0.6rem;
  width: 90%;
}

.card-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-text {
  font-size: 1.5rem;
  text-align: center;
}
